In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("..//Data/compas-scores-two-years.csv")
#display(df.columns)

In [ ]:
#if we want to compare and get same answers as Compas Analysis.ipynb DO NOT run this cell (will remove rows)
df = df[df["days_b_screening_arrest"] <= 30]
df = df[df["days_b_screening_arrest"] >= -30]

### Oppgave 1b

Omgjøre score_text til to kategorier, low --> 0, medium og high --> 1

In [3]:
#jobber med mindre dataframe
sdf = df[['sex', 'race', 'two_year_recid', 'score_text']]
sdf

         sex              race  two_year_recid score_text
0       Male             Other               0        Low
1       Male  African-American               1        Low
2       Male  African-American               1        Low
3       Male  African-American               0       High
4       Male             Other               0        Low
...      ...               ...             ...        ...
7209    Male  African-American               0     Medium
7210    Male  African-American               0        Low
7211    Male             Other               0        Low
7212  Female  African-American               0        Low
7213  Female          Hispanic               1        Low

[7214 rows x 4 columns]

In [6]:
sdf['high_risk'] = sdf['score_text'].apply(lambda score: 0 if score == 'Low' else 1) 
sdf['all'] = sdf['score_text'].apply(lambda x: 'All') #need this for pandas later
sdf

<ipython-input-6-9e31bd980247>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sdf['high_risk'] = sdf['score_text'].apply(lambda score: 0 if score == 'Low' else 1)
<ipython-input-6-9e31bd980247>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sdf['all'] = sdf['score_text'].apply(lambda x: 'All') #need this for pandas later

         sex              race  two_year_recid score_text  high_risk  all
0       Male             Other               0        Low          0  All
1       Male  African-American               1        Low          0  All
2       Male  African-American               1        Low          0  All
3       Male  African-American               0       High          1  All
4       Male             Other               0        Low          0  All
...      ...               ...             ...        ...        ...  ...
7209    Male  African-American               0     Medium          1  All
7210    Male  African-American               0        Low          0  All
7211    Male             Other               0        Low          0  All
7212  Female  African-American               0        Low          0  All
7213  Female          Hispanic               1        Low          0  All

[7214 rows x 6 columns]

In [4]:
def crosstab(df):
    return pd.crosstab(df.high_risk, df.two_year_recid, margins=True)

In [5]:
def false_positive(cross_table, label):
    # FP / (FP + TN)
    return cross_table.loc[(label, 1), 0]/ cross_table.loc[(label, 'All'), 0]

In [7]:
def true_positive(cross_table, label):
    # TP / (TP + FN)
    return cross_table.loc[(label, 1), 1] / cross_table.loc[(label, 'All'), 1]

In [8]:
def true_negative(cross_table, label):
    # TN / (TN + FP)
    return cross_table.loc[(label, 0), 0] / cross_table.loc[(label, 'All'), 0]

In [9]:
def false_negative(cross_table, label):
    # FN / (FN + TP)
    return cross_table.loc[(label, 0), 1] / cross_table.loc[(label, 'All'), 1]

In [10]:
#correct?
#using bayes theorem - ish
def p_recid_g_high(cross_table, label):
    return cross_table.loc[(label, 1), 1] / cross_table.loc[(label, 1), 'All']

In [ ]:
functions = [false_positive, false_negative, true_positive, false_positive, p_recid_g_high]
d = {}
for function in functions:
    inner_dict = {}
    for group in by_sex.groups:
        inner_dict[str(group)] = function(ct_sex, str(group))
    d[function.__name__] = inner_dict
d

In [44]:
groupobj = [sdf.groupby('all'), sdf.groupby('sex'), sdf.groupby('race')]

In [45]:
cross_tables = [group.apply(crosstab) for group in groupobj]
cross_tables

[two_year_recid     0     1   All
 all high_risk
 All 0           2681  1216  3897
     1           1282  2035  3317
     All         3963  3251  7214,
 two_year_recid       0     1   All
 sex    high_risk
 Female 0           609   195   804
        1           288   303   591
        All         897   498  1395
 Male   0          2072  1021  3093
        1           994  1732  2726
        All        3066  2753  5819,
 two_year_recid                 0     1   All
 race             high_risk
 African-American 0           990   532  1522
                  1           805  1369  2174
                  All        1795  1901  3696
 Asian            0            21     3    24
                  1             2     6     8
                  All          23     9    32
 Caucasian        0          1139   461  1600
                  1           349   505   854
                  All        1488   966  2454
 Hispanic         0           318   129   447
                  1            87   103   190
                  All         405   232   637
 Native American  0             5     1     6
                  1             3     9    12
                  All           8    10    18
 Other            0           208    90   298
                  1            36    43    79
                  All         244   133   377]

In [47]:
functions = [false_positive, false_negative, true_positive, true_negative, p_recid_g_high]
d = {}
for function in functions:
    inner_dict = {}
    for sort, table in zip(groupobj, cross_tables):
        for group in sort.groups:
            if not group in ['Asian', 'Hispanic', 'Native American', 'Other']:
                inner_dict[str(group)] = round(function(table, str(group)), 4)
    d[function.__name__] = inner_dict
d

{'false_positive': {'All': 0.3235,
  'Female': 0.3211,
  'Male': 0.3242,
  'African-American': 0.4485,
  'Caucasian': 0.2345},
 'false_negative': {'All': 0.374,
  'Female': 0.3916,
  'Male': 0.3709,
  'African-American': 0.2799,
  'Caucasian': 0.4772},
 'true_positive': {'All': 0.626,
  'Female': 0.6084,
  'Male': 0.6291,
  'African-American': 0.7201,
  'Caucasian': 0.5228},
 'true_negative': {'All': 0.6765,
  'Female': 0.6789,
  'Male': 0.6758,
  'African-American': 0.5515,
  'Caucasian': 0.7655},
 'p_recid_g_high': {'All': 0.6135,
  'Female': 0.5127,
  'Male': 0.6354,
  'African-American': 0.6297,
  'Caucasian': 0.5913}}